<div class="show-div row ">
  <div class="small-6 columns">
    <img src="<%= @candy.image_url %>" class="show-page-img"/>
  </div>
  <div class="small-6 columns text-box">
    <h1><strong>Candy:</strong> <%= @candy.name %></h1>
    <h1><strong>Thoughts:</strong> <%= @candy.description %></h1>
    <button type="button" class="button large" id="counter-button" data-id="<%= @candy.id %>"></button>
  </div>
  <div class="small-6 columns">
    <button type="button" class="button large">
      <%= link_to "Back", root_path %>
    <button>
  </div>
</div>
