<!DOCTYPE html>
<html>
  <head>
    <title>EventTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li>About Us</li>
        <li>Legal</li>
        <li>Careers</li>
        <li>Terms of Service</li>
      </ul>
    </header>
    <%= render "layouts/flash" %>
    <section id="main">
      <%= yield %>
    </section>
    <section id="sidebar">
      <section id="sidebar">
        <%= render "layouts/sidebar" %>
      </section>
    </section>
    <footer></footer>
  </body>
</html>
